recursive-include pygo_jwt/go *.go
recursive-exclude pygo_jwt/go *test*.go
recursive-exclude pygo_jwt/go *main*.go
recursive-include pygo_jwt/go *.h
include pygo_jwt/go/go.mod
include pygo_jwt/go/Makefile
include pygo_jwt/lib/*.so
include readme.md
include config.json
