[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nydev-fastapi-tools = {file = "../../fastapi-tools", extras=["server", "lambda", "mongodb"], editable = true}
fastapi = "~=0.109.0"
mangum = "~=0.17.0"
pymongo = "~=4.6.0"

[dev-packages]
isort = "~=5.13.0"

[requires]
python_version = "3.12"
